body { font-size: 0.9em; }

body > article,
body > section { margin: 0 auto; }

// site header
body > header {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 3em;
	padding: 3.6em 0 3em;

	h1, p {
		text-align: center;
		width: 100%;
	}

	h1 a { background-image: none; }

	p { margin-bottom: 0; }
}

// front page article headings
body > section article h3 a {
	background-image: none;
	color: #7780DB;
}

// all articles
body article {
	border-bottom: 1px dotted #ccc;
	margin-bottom: 1.6em;
	padding: 0 2em;

	header {
		margin-bottom: 1.6em;

	 p {
		color: #999;
		margin-bottom: 0.4em;
		}
	}
}

body > nav p,
body > footer p {
	text-align: center;
	width: 100%;
}

code.hljs span.hljs-tag {
	display: block;
	width: 100%;
}

#menu ul {
	margin: 0;
	padding-bottom: 1rem 1.6rem;
	text-align: right;
	width: 100%;

	li {
		display: inline-block;
		font-family: Raleway,sans-serif;
		font-size: .75em;
		letter-spacing: 0.124em;
		margin: 0 0 0 2rem;
		padding: 0;
		text-transform: uppercase;
	}

	a {
		background-image: none;
		color: #aaa;
		text-decoration: none;

		&:hover { color: #000; }
	}
}

.video_container {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;

	iframe, object, embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}