body { font-size: 0.9em; }

body > article,
body > section { margin: 0 auto; }

// site header
body > header {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 3em;
	padding: 3em 0;

	h1, p {
		text-align: center;
		width: 100%;
	}

	h1 a { background-image: none; }

	p { margin-bottom: 0; }
}

// front page article headings
body > section article h3 a {
	background-image: none;
	color: #7780DB;
}

// all articles
body article {
	border-bottom: 1px dotted #ccc;
	margin-bottom: 1.6em;
	padding: 0 2em;

	header {
		margin-bottom: 1.6em;

	 p {
		color: #999;
		margin-bottom: 0.4em;
		}
	}
}

body > nav p,
body > footer p {
	text-align: center;
	width: 100%;
}

code.hljs span.hljs-tag {
	display: block;
	width: 100%;
}

#menu {
	background: #eee;
	bottom: 0;
	left: -15.625em;
	height: 100%;
	position: fixed;
	top: 0;
	width: 15.625em;
	.transform(translate(0px, 0px));
	.transition(0.5s ease);

	&.is-open { .transform(translate(15.625em, 0px)); }

	span {
		.border-radius(5px);
		.box-shadow(5px 5px 1px #fff, -5px -5px 1px #fff);
		background: #fff;
		border: 1px solid #aaa;
		color: #999;
		cursor: pointer;
		padding: 3px 8px;
		position: absolute;
		right: -67px;
		top: 15px;

		&:hover {
			border-color: #67A5D6;
			color: #67A5D6;
		}
	}


	ul {
		list-style-type: none;
		margin: 1em 1.4em;

		a {
			background-image: none;
			color: #666;

			&:hover { color: #000; }
		}
	}
}